{% extends 'base.html' %}

{% block title %} Task Detail {% endblock %}

{% block content %}

  <h1>{{ task.title }}</h1>
  <p><strong>Description: {{ task.description }}</strong></p>
  <p>Created on: {{ task.created_date }}</p>
  <p> Due by: {{ task.due_date }}</p>
  <p>Completed: {{ task.completed }}</p>

  <h5><strong> Delete?</strong> </h5>
  <form action="{% url 'delete' task.id %}" method="post">
    {% csrf_token %}
   <button type="submit" class="btn btn-danger" value="Delete"> Delete! </button>
  </form>

  <h5><strong> Update? </strong></h5>
    <form action="{% url 'update' task.id %}" method="post">
    {% csrf_token %}
  <button type="submit" class="btn btn-success" value="Update"> Update! </button>
  </form>
{% endblock %}