{% extends 'base.html' %}

{% block title %} Task List {% endblock %}
{% block list %}
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">ToDo List</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add' %}">Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

      </ul>
      </div>
    </nav>
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
   <h3> Welcome {{ request.user|capfirst }} to ToDo List!</h3>
    <p></p>

  <h3> All Tasks </h3>
  {% if tasks.exists %}
    {% for task in tasks %}
      <li><a href="{% url 'detail' task.id %}">{{ task.title }}</a>:  {{ task.description }}</li>
      <br>
    {% endfor %}
  {% else %}
     <p class="lead"> No Task yet!</p>
  {% endif %}

  <h3> Completed Tasks</h3>
  {% if Completed_tasks.exists %}
    {% for completed in Completed_tasks %}
      <li><a href="{% url 'detail' completed.id %}">{{ completed.title }}</a></li>
      <br>
    {% endfor %}
  {% else %}
      <p class="lead"> You haven't completed any task yet!</p>
  {% endif %}
      {% else %}
        <h4> You need to login first!</h4>
        <strong><a href="{% url 'login' %}">Login</a></strong>
   {% endif %}
{% endblock %}